body{
    background-image: url(gambar/bck.png);
}


.gambar1{
    width: 55PX;
    margin-top: 10px;
    margin-left: 20px;
    size: ;

}
ul{
    float: right;
    margin-top: 15px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :black;
    padding : 5px 20px;
    border : 1px solid gray;
    
  
}

ul li a:hover{
    background-color: purple;
    color: white;
    border: purple;
}
.navbar{
    margin: auto;
    border:black;
}

.header h1{
    padding-top: 30px;
    text-align: center;
}
.judul {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px outset purple;
    
}
.judul h2 {
    text-align: center;
}

.p ol li{
    margin-left: 100px;
    margin-right: 100px;
}