body{
    background-image: url(gambar/bck.png);
}

.header h1{
    text-align: center;
}
.judul {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px outset purple;
    
}
.judul h2 {
    text-align: center;
}

.p ol li{
    margin-left: 100px;
    margin-right: 100px;
}