body{
    background-image: url(gambar/homeawal.PNG);
    background-size: cover; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

ul{
    float: right;
    margin-top: 0px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
    margin-bottom: 40px;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :rgb(84, 138, 73);
    padding : 5px 20px;
    border : 1px solid rgb(84, 138, 73);
  
}

ul li a:hover{
    background-color: rgb(84, 138, 73);
    color: white;
    border: rgb(84, 138, 73);
}
.navbar{
    margin-top: 15px ;
    border:rgb(84, 138, 73);
}

.gambar1{
    margin-top: 0px;
    width: 300px;
    margin-left: 40%;
    
}
.gambar2{

    width: 150px;
    margin-left: 45%;
}
.cari{
    width: 1000px;
    margin-left: 25%;
    padding: 10px;
}
.search{
    margin-top: 50px;
    position: relative;
    padding: 8px 200px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid white ;


}
.button{
    position: relative;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: white;
    
}

.button:hover{
    color: white;
    border: rgb(84, 138, 73));
    background-color: rgb(84, 138, 73);
}

.surat{
    color: black;
    font-size: 30px;
    float: left;
}

.tabelsurat tr td a{
    padding: 10px;
    border: 1px solid rgb(218, 211, 211);
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.tabelsurat tr td a:hover{
    color: white;
    background-color:rgb(84, 138, 73) ;
    border: rgb(84, 138, 73);
}
.tabel{
    /* background-color: white; */
    border: 10px;
    padding: 50px;
    width: 100%;
    height: 900px;
    column-width: 5px;
    text-align: center;    
}
.klikayat{
    color: black;
    text-decoration: none;
    font-size: 13px;
    background-color: white;
    border-style: ridge;
    border-width: 2px;   
}
@media screen and (max-width: 768px) {
    body{
        background-size: cover;
    }
    .navbar ul{
        /* width: 0%; */
        display: none;
    }
    
    .gambar1{
        margin-top: 0px;
        width: 200px;
        margin-left: 40%;
        
    }
    .gambar2{

        width: 125px;
        margin-left: 45%;
    }
    .search{
        margin-top: 30px;
        position: relative;
        padding: 8px 100px;
        text-align: left;
        border-radius: 4px;
        border: 2px solid white ;
    }
    
    .surat{
        color: black;
        font-size: 20px;
        float: right;
    }

    .tabelsurat tr td a{
        padding: 5px;
        border: 1px solid rgb(218, 211, 211);
        text-align: left;
        display: grid;

    }

}

@media screen and (max-width: 550px) {
    .Title h1{
        color: rgb(26, 156, 0);
        font-size: 30px;
    }
    body{
        width: 600px;
        height: 800px;
    }
    .navbar ul{
        width: 0%;
    }
    .gambar1{
        margin-top: 0px;
        width: 150px;
        margin-left: 40%;
        
    }
    .gambar2{

        width: 75px;
        margin-left: 45%;
    }
    .search{
        margin-top: 30px;
        position: relative;
        padding: 8px 100px;
        text-align: left;
        border-radius: 4px;
        border: 2px solid white ;
    
    
    }

}