body{
    background-image: url(gambar/ayat.jpg);
    background-size: 1400px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

ul{
    float: right;
    margin-top: 20px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
    margin-bottom: 40px;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :black;
    padding : 5px 20px;
    border : 1px solid black;
  
}

ul li a:hover{
    background-color: purple;
    color: white;
    border: purple;
}
.navbar{
    margin-top: 20px ;
    border: gray;
}

.gambar1{
    margin-top: 100px;

    width: 300px;
    margin-left: 40%;
    
}
.gambar2{

    width: 150px;
    margin-left: 45%;
}
.cari{
    width: 1000px;
    margin-left: 25%;
    padding: 10px;
}
.search{
    margin-top: 50px;
    position: relative;
    padding: 8px 200px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid white ;


}
.button{
    position: relative;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: white;
    
}

.button:hover{
    color: white;
    border: rgb(212, 52, 212);
    background-color: rgb(212, 52, 212);
}

.surat{
    color: black;
    font-size: 30px;
    float: left;
}

.tabelsurat tr td a{
    padding: 10px;
    border: 1px solid rgb(218, 211, 211);
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.tabelsurat tr td a:hover{
    color: white;
    background-color:rgb(212, 52, 212) ;
    border: orange;
}
.tabel{
    background-color: white;
    border: 10px;
    padding: 50px;
    width: 100%;
    height: 900px;
    column-width: 5px;
    text-align: center;    
}
.klikayat{
    color: black;
    text-decoration: none;
    font-size: 13px;
    background-color: white;
    border-style: ridge;
    border-width: 2px;   
}