body {
    background-image: url(gambar/bck.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 17px;
    padding-top: 0px;
    border-width: 10px;
}


.gambar1{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;

}
ul{
    float: right;
    margin-top: 20px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :gray;
    padding : 5px 20px;
    border : 1px solid gray;
  
}

ul li a:hover{
    background-color:rgb(212, 52, 212);
    color: white;
    border: rgb(212, 52, 212);
}
.navbar{
    margin: auto;
    border: gray;
}
body button {
    background-color: blue;
    outline-color: blueviolet;
    color: cornsilk;
    border: blue;
    padding: 4px;
}
h3 {
    font-family: fantasy;
}
h4{
    font-family: fantasy;
    font-size: 15px;
}

.in {
    text-align: center;
    border: 2px rgb(240, 107, 240);
    padding-left: 20px;
    padding: 4px;
    color: white;
    background-color: rgb(66, 63, 238);
}
