body{
    background-image: url(gambar/Feature.png);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.header {
    padding-top: 30px;
    text-align: center;
    color: orange;
}

.gambar {
    margin: 10px;
    display: block;
    float: left;
    margin-left: 120px;
    margin-top: 50px;
    width: 180px;
    
   
  }
  
h2 a{
      text-decoration: none;
      color: purple;
  }
 .gambar:hover {
    background-color:plum;
    padding: 10px;
    
    
  }
  
.gambar img {
    width: 100%;
    height: auto;
  }


  
.desk {
    padding: 15px;
    text-align: center;
    color: purple;
  }


