body{
    background-image: url(gambar/Feature.png);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header{
    text-align: center;
}

.header h1{
    padding: 30px;
}



.Menghafal h2 a{
    text-decoration: none;
    margin-right: 30%;
    margin-bottom: 50%;
}

.Menghafal p{
    
   margin-right: 30%;

}

.Menghafal img {
    position: relative;
    top: 30%;  
    margin-right: 30%; 
}
.Murojaah h2 a{
    text-decoration: none;
    margin-right: 30%;
    margin-bottom: 50%;
}


.Am h2 a{
    text-decoration: none;
    margin-right: 30%;
    margin-bottom: 50%;


}