body{
    background-image: url(gambar/Feature.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header{
    text-align: center;
}

.header h1{
    padding: 30px;
}



.Menghafal h2 a{
    background-image: url(Gambar/menghafal.png);
    text-decoration: none;
    margin-right: 20%;
    padding-bottom: 300px;

}

