body{
    background-image: url(gambar/Home1.png);

    
}

ul{
    float: right;
    margin-top: 20px;
    
}
ul li{
    
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color : white;
    padding : 5px 20px;
    border : 1px solid transparent;
   
}

ul li a:hover{
    background-color: white;
    color: black;
}
.navbar{
    max-width: 900px;
    margin: auto;
}

.Title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 40%;
    left: 25%;
}

.Title h1{
    color: white;
    font-size: 100px;
}


 

.paragraf{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20%;
    left: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tombol{
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    left: 25%;

}

.tbl{
    text-decoration: none;
    color: white;
    border: 1px solid orange;
    padding: 5px 20px;
    background-color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.login{
    position: absolute;
    top: 4%;
    font-size: 20px;
    left: 85%;
}
.login :hover{
    background-color:white;
    color: black;
  
}
.tbl1{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
}



.sign{
    position: absolute;
    top: 4%;
    font-size: 20px;
    left: 92%;
}

.sign :hover{
    background-color: orange;
    color: white;
    border: orange;
}

.tbl2{
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 5px 10px;
    background-color: white;

}

