body{
    background: url(gambar/homeawal.PNG);
    background-size: cover; 
}
/* .gambar1{
    width: 70px;
    margin-top: 20px;
    margin-right: 100px;

} */

.logo{
    padding-top: 5px;
    margin-right: 80px;
    color: rgb(26, 156, 0);
}
ul{
    float: right;
    margin-top: 20px;
      
    
}
ul li{
    
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color : rgb(26, 156, 0);
    padding : 5px 20px;
    border : 1px solid transparent;
    
   
}

ul li a:hover{
    background-color: white;
    color: black;
}
.navbar{
    max-width: 900px;
    margin: auto;
}

.Title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 40%;
    left: 25%;
}

.Title h1{
    color: rgb(26, 156, 0);
    font-size: 100px;
}


 

.paragraf{
    color: rgb(26, 156, 0);
    font-size: 20px;
    position: absolute;
    bottom: 20%;
    left: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tombol{
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    left: 25%;

}

.tbl{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(26, 156, 0);
    padding: 5px 20px;
    background-color: rgb(26, 156, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.login{
    position: absolute;
    top: 4%;
    font-size: 20px;
    left: 85%;
    color: rgb(26, 156, 0);
}
.login :hover{
    background-color:rgb(26, 156, 0);
    color: rgb(255, 255, 255);
    border: rgb(26, 156, 0);
  
}
.tbl1{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
}



.sign{
    position: absolute;
    top: 4%;
    font-size: 20px;
    left: 92%;
}

.sign :hover{
    background-color: rgb(26, 156, 0);
    color: white;
    border: rgb(26, 156, 0);
}

.tbl2{
    text-decoration: none;
    color :rgb(26, 156, 0);
    border: 1px solid white;
    padding: 5px 10px;
    background-color: white;

}

@media screen and (max-width: 768px) {
    .Title h1{
        color: rgb(26, 156, 0);
        font-size: 40px;
    }

    .paragraf{
        margin-bottom: 60px;
        font-size: 15px;
    }
    body{
        width: 600px;
        height: 800px;
    }
    .navbar ul{
        /* width: 0%; */
        display: none;
    }
    .login{
        top: 100%;
    }
 
    .sign{
        top: 100%;
    }
}

@media screen and (max-width: 550px) {
    .Title h1{
        color: rgb(26, 156, 0);
        font-size: 30px;
    }

    .paragraf{
        margin-bottom: 60px;
        font-size: 10px;
    }
    body{
        width: 600px;
        height: 800px;
    }
    .navbar ul{
        width: 0%;
    }
    .login{
        top: 100%;
    }
 
    .sign{
        bottom: 100%;
    }
}