body{
    background-image: url(gambar/homeawal.PNG);
    background-size: cover;
}

ul{
    float: right;
    margin-top: 20px;
    
  }
  ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
  }
  ul li a{
    text-decoration: none;
    color : rgb(84, 138, 73);
    padding : 5px 20px;
    border : 1px solid  rgb(84, 138, 73);
  
  }
  
  ul li a:hover{
    background-color: rgb(84, 138, 73);
    color: white;
    border: rgb(84, 138, 73);
  }
  .navbar{
    margin: auto;
    border:rgb(84, 138, 73);
    padding-bottom: 20px;
  }
  
  .gambar1{
    width: 55px;
    margin-top: 20px;
    margin-left: 20px;
    
  
  }
h2{
    margin-left: 30%;
    width: 600px;
    text-align: center;
    color:  rgb(84, 138, 73);
    padding: 8px;
    font-size: 35px;
    letter-spacing: 4px;
    border-radius: 50px;
    /* border-style: ridge; */
    border-width: 2px;
    /* border-color: rosybrown; */
    /* background-color: rgb(230, 23, 230); */
}
h2 p{
  font-size: 15px;
  letter-spacing: 2px;
}

.surat{
    padding: 10px;
    color: gray;
    font-style: oblique;
    background-color:  rgb(183, 224, 87);
    width: 90px;
    border-radius: 50px;
    border-style: ridge;
    border-width: 2px;
    border-color: rosybrown;
    float: right;
}

.sambung{
    width: 70%;
    margin-left: 500px; 
    font-size: 20px; 
    padding-top: 10px;
     
}
.ayat{
  padding-bottom: 10px;
  font-family: fantasy;
  font-size: 25px;
  
}

.selesai{
    background:  rgb(104, 119, 101);
    color: white;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;  
    /* margin-left: 0%;  */
    float: right;
    margin-bottom: 90px;
    margin-right: 150px ;
}
@media screen and (max-width: 768px) {


  .navbar ul{
      /* width: 0%; */
      display: none;
  }
  h2 p{
    text-align: left;
    color: orange;

  }
  h2{
    margin-left: 30%;
    width: 600px;
    text-align: left;
  }

  .ayat {
    font-size: 30px;
    padding-top: 30px;
    text-align: left;  
  }
  
  .selesai{
      background:  rgb(84, 138, 73);
      color: white;
      width: 150px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;  
      /* margin-left: 0%;  */
      float: right;
      margin-bottom: 90px;
      margin-right: 150px ;
  }

  

}

@media screen and (max-width: 550px) {
  .navbar ul{
      width: 0%;
  }
  .login{
      top: 100%;
  }

  .sign{
      bottom: 100%;
  }
}

