body{
    background-image: url(gambar/cover.png);
}
h2{
    text-align: left;

}
.login{
   width: 200px;
    margin: 100px auto;
    padding: 50px 50px;
}
label{

}
.keterangan{ 
    width: 400px;
    font-family: monospace;
    font-size: 13px;
    color: rgb(89, 85, 85);
    ;
}
.formlogin{
    box-sizing: border-box;
    padding: 10px 10px;
    size: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background: rgb(240, 202, 132);

}
.lupa{
    padding:7px;
    color: rgb(89, 85, 85);
    font-size: 15;
    text-decoration: none;


}
.failed{
    width: 440px;
    padding: 10px;
    background-color: rgb(228, 60, 30);
    background-size: 10px;
    border-radius: 10px;
    color: white;
    
}
.kliklogin{
    background: darkorchid;
    color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    
    
}