body{
    background-image: url(gambar/bck.png);
    background-size: cover;
    background-repeat: repeat-x;
    
}


.ayat{
    float: right;
    font-size: 30px;
    margin-left: 0px;
    width: 80%;   
    
}

h1{
    text-align: center;
}
h2 {
    font-size: 33px;
}
.gambar1{
    width: 55px;
    margin-top: 20px;
    margin-left: 20px;

}
.gambar2{
    
    width: 500px;
    margin-bottom: 0px;
    margin-right: 20px;
    
}
ul{
    float: right;
    margin-top: 15px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :black;
    padding : 5px 20px;
    border : 1px solid gray;
  
}

ul li a:hover{
    background-color: purple;
    color: white;
    border: purple;
}
.navbar{
    margin: auto;
    border: gray;
}
