body{
    background-image: url(gambar/bck.png);
    background-size: cover;
    background-repeat: repeat-x;
    
}


.ayat{
    text-align:right;
    font-size: 40px;
    margin-left: 60px;
    
    
}

h1{
    text-align: center;
}
h2 {
    font-size: 40px;
}
.gambar1{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;

}
ul{
    float: right;
    margin-top: 20px;
    
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :gray;
    padding : 5px 20px;
    border : 1px solid gray;
  
}

ul li a:hover{
    background-color: purple;
    color: white;
    border: purple;
}
.navbar{
    margin: auto;
    border: gray;
}
