
body{
    /* background-image: url(gambar/bck.png); */
    background-color: rgb(192, 219, 128);
}
ul{
    float: right;
    margin-top: 15px;
   
}
ul li{
    margin-left: 25px;
    left: 100px;
    display: inline-block;
}
ul li a{
    text display: None;
    text-decoration: none;
    color :rgb(84, 138, 73);
    padding : 5px 20px;
    border : 1px solid rgb(84, 138, 73);
 
}

ul li a:hover{
    background-color:  rgb(84, 138, 73);
    color: white;
    border:rgb(84, 138, 73));
}
.navbar{
    margin: auto;
    border: rgb(84, 138, 73);
}

.gambar1{
    width: 55px;
    margin-top: 20px;
    margin-left: 20px;
}

h2{
    text-align: left;
    width: 400PX;
    color: rgb(84, 138, 73);
    
}
hr{
    width: 1160px;
    color: rgb(238, 87, 238);
}
.login{
    width: 200px;
    margin: 50px auto;
    margin: 100px auto;
    margin-left: 180px;
    margin-right: 180px;
}

.keterangan{ 
    width: 400px;
    font-family: monospace;
    font-size: 13px;
    color: rgb(84, 138, 73);
}
.formlogin{
    box-sizing: border-box;
    padding: 8px 10px;
    
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: rgb(84, 138, 73);
    border-style: ridge;
    background: white;

}
.alamat{
    border-radius: 10px;
    border-color: rgb(84, 138, 73);
    border-style: ridge;
}
.pekerjaan{
    border-radius: 10px;
    border-color: rgb(84, 138, 73);
    border-style: ridge;
    padding: 8px 10px;
}
.perubahan{
    background: rgb(84, 138, 73);
    color: white;
    width: 200px;
    border: rgb(84, 138, 73);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px; 
    border-style: ridge;  
    border-color: rgb(84, 138, 73);
    border-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ubahpassword{
    background-color: rgb(248, 117, 117);
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    border-color:rgb(248, 117, 117);
    border-width: 2px;
    border-style: ridge; 
}
.foto{
    padding: 19px 19px 5px;
    float: unset;
}
.browse{
    font-size: 12px; 

}
