body{
    background-image: url(gambar/Loginnew.png);
    background-size: cover;
    /* width: 100%;
    background-repeat: no-repeat; */
}
h2{
    text-align: left;
    width: 400PX;
}
.login{
    color: white;
    width: 200px;
    margin: 100px auto;
    padding: 50px 50px;
    
}

.keterangan{ 
    width: 400px;
    font-family: monospace;
    font-size: 13px;
    color: rgb(84, 138, 73));
    ;
}
.formlogin{
    box-sizing: border-box;
    padding: 10px 10px;
    size: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background: rgb(240, 202, 132);

}

.kliklogin{
    background: rgb(84, 138, 73);
    color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;   
}

.already{
    font-family: monospace;
    color: rgb(84, 138, 73);
    font-size: 14px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body{
        background-image: none;
        background-color: rgb(73, 85, 48);
    }
    label{
        color: yellowgreen;
    }
  
  }
  
